<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><%= link_to(render_breadcrumbs, root_path) %></li>
                <li><%= @category.title %></li>
            </ol>
        </div>
    </div>
</div>


<div class="prdt">
    <div class="container">
        <div class="prdt-top">
            <div class="col-md-9 prdt-left">
                <% if !@category.products.empty? %>
                    <div class="product-one">
                        <% @category.products.each do |product| %>
                        <div class="col-md-4 product-left p-left">
                            <div class="product-main simpleCart_shelfItem">
                                <%= link_to(image_tag(product.img, alt: "", class: "img-responsive zoom-img"), product, class: "mask") %>
                                <div class="product-bottom">
                                    <H3><%= product.title %></H3>
                                    <p>Explore Now</p>
                                    <H4>
                                        <a data-id="<%= product.id %>" class="add-to-cart-link" href="cart/add?id=<%= product.id %>"><i></i></a>
                                        <span class="item_price"><%= product.price %></span>
                                        <% if product.old_price %>
                                            <small><del><%= product.old_price %></del></small>
                                        <% end %>
                                    </H4>
                                </div>
                                <div class="srch srch1">
                                    <span>-50%</span>
                                </div>
                            </div>
                        </div>
                        <% end %>
                        <div class="clearfix"></div>
                    </div>
                <% else %>
                    <H3>This category don`t have a products</H3>
                <% end %>
            </div>
            <div class="col-md-3 prdt-right">
                <div class="w_sidebar">
                    <section class="sky-form">
                        <H4>Categories</H4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>All Accessories</label>
                            </div>
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Women Watches</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Kids Watches</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Men Watches</label>
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <H4>Brand</H4>
                        <div class="row1 row2 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Kurtas</label>
                            </div>
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Sonata</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Titan</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Casio</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Omax</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Fastrack</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Sports</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Fossil</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Maxima</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Yepme</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Citizen</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Diesel</label>
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <H4>Colour</H4>
                        <ul class="w_nav2">
                            <li><a href="#" class="color1"></a></li>
                            <li><a href="#" class="color2"></a></li>
                            <li><a href="#" class="color3"></a></li>
                            <li><a href="#" class="color4"></a></li>
                            <li><a href="#" class="color5"></a></li>
                            <li><a href="#" class="color6"></a></li>
                            <li><a href="#" class="color7"></a></li>
                            <li><a href="#" class="color8"></a></li>
                            <li><a href="#" class="color9"></a></li>
                            <li><a href="#" class="color10"></a></li>
                            <li><a href="#" class="color11"></a></li>
                            <li><a href="#" class="color12"></a></li>
                            <li><a href="#" class="color13"></a></li>
                            <li><a href="#" class="color14"></a></li>
                            <li><a href="#" class="color15"></a></li>
                            <li><a href="#" class="color5"></a></li>
                            <li><a href="#" class="color6"></a></li>
                            <li><a href="#" class="color7"></a></li>
                            <li><a href="#" class="color8"></a></li>
                            <li><a href="#" class="color9"></a></li>
                            <li><a href="#" class="color10"></a></li>
                        </ul>
                    </section>
                    <section class="sky-form">
                        <H4>Discount</H4>
                        <div class="row1 row2 scroll-pane">
                            <div class="col col-4">
                                <label class="radio"><input type="radio" name="radio" checked=""><i></i>60 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>50 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>40 % and above</label>
                            </div>
                            <div class="col col-4">
                                <label class="radio"><input type="radio" name="radio"><i></i>30 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>20 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>10 % and above</label>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>