<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <%# <li><a href="/"><%= render_breadcrumbs </a></li> %>
                <li>Edit</li>
            </ol>
        </div>
    </div>
</div>

<div class="prdt">
    <div class="container">
        <div class="prdt-top">
            <div class="col-md-12">
                <div class="product-one signup">
                    <div class="register-top heading">
                        <H2>Edit Profile</H2>
                    </div>

                    <div class="register-main">
                        <div class="col-md-6 account-left">
                            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
                                <%= f.error_notification %>

                                <div class="form-group has-feedback">
                                    <%= f.input :email, required: true, autofocus: true, input_html: { class: "form-control" } %>
                                </div>
                                <div class="form-group has-feedback">
                                    <% if devise_mapping.confirmable? && resource.peding_reconfirmation? %>
                                        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                                    <% end %>
                                </div>
                                <div class="form-group has-feedback">
                                    <%= f.input :password, hint: "Leave it blank if you don`t want to change it", required: false, input_html: { autocomplete: "new-password", class: "form-control" } %>
                                </div>
                                <div class="form-group has-feedback">
                                    <%= f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password", class: "form-control" } %>
                                </div>
                                <div class="form-group has-feedback">
                                    <%= f.input :current_password, hint: "We need your current password to confirm your changes", required: false, input_html: { autocomplete: "new-password", class: "form-control" } %>
                                </div>
                                <div class="form-action">
                                    <%= f.button :submit, "Update", class: "btn btn-default" %>
                                </div>
                            <% end %>
                            <br>
                            <H3>Cancel my account</H3>
                            <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
                            <%= link_to "Back", :back %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>