<div class="container">
    <div class="header">
        <div class="col-md-9 header-left">
            <div class="top-nav">
                <ul class="memenu skyblue">
                    <li class="active"><a href="/">Home</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-3 header-right">
            <div class="search-bar">
                <form action="/search" method="get" autocomplete="off">
                    <input type="text" class="typeahead" id="typeahead" name="query" placeholder="Search...">
                    <input type="submit" value="">
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>