<div class="information">
    <div class="container">
        <div class="infor-top">
            <div class="col-md-3 infor-left">
                <h3>Follow us</h3>
                <ul>
                    <li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
                    <li><a href="#"><span class="twit"></span><h6>Twiter</h6></a></li>
                    <li><a href="#"><span class="google"></span><h6>Google</h6></a></li>
                </ul>
            </div>
            <div class="col-md-3 infor-left">
                <h3>information</h3>
                <ul>
                    <li><a href="#"><p>Specials</p></a></li>
                    <li><a href="#"><p>New Products</p></a></li>
                    <li><a href="#"><p>Our Stores</p></a></li>
                    <li><a href="contact.html"><p>Contact Us</p></a></li>
                    <li><a href="#"><p>Top Sellers</p></a></li>
                </ul>
            </div>
            <div class="col-md-3 infor-left">
                <h3>My Account</h3>
                <ul>
                    <li><a href="account.html"><p>My Account</p></a></li>
                    <li><a href="#"><p>My Credit Slips</p></a></li>
                    <li><a href="#"><p>My Merchandise Returns</p></a></li>
                    <li><a href="#"><p>My Personal Info</p></a></li>
                    <li><a href="#"><p>My Addresses</p></a></li>
                </ul>
            </div>
            <div class="col-md-3 infor-left">
                <h3>Store information</h3>
                <h4>The Company name, <span>Lorem ipsum dolor,</span> Glasglow Dr 40 Fe 72.</h4>
                <h5>+380 12 22 01 022</h5>
                <p><a href="mailto:example@email.com">contact@example.com</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="col-md-6 footer-left">
                <form>
                    <input type="text" value="Enter Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email';}">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="col-md-6 footer-right">
                <p> © 2020 Luxury Watches. All Righys Reserved</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-lebel="Close"><span aria-hidden="true"></span></button>
                <h4 class="modal-title" id="myModalLabel">Korzyna</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-defailt" data-dismiss="modal">Continue</button>
                <a href="cart/index" type="button" class="btn btn-primary"></a>
                <button type="button" class="btn btn-danger" onclick="clearCart()">Clear</button>
            </div>
        </div>
    </div>
</div>