<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslider" id="slider4">
            <li> <%= image_tag("bnr-1.jpg", alt: "" ) %> </li>
            <li> <%= image_tag("bnr-2.jpg", alt: "" ) %> </li>
            <li> <%= image_tag("bnr-3.jpg", alt: "" ) %> </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>

<% if @brands.nil? %>
    <h2>No Brands</h2>
<% else %>

    <div class="about">
        <div class="container">
            <div class="about-top grid-1">
                <% @brands.each do |i| %>
                    <div class="col-md-4 about-left">
                        <figure class="effect-bubba">
                            <% image_tag(i.img, alt: "", class: "img_responsive" ) %>
                            <figcaption>
                                <h2> <%= i.title %> </h2>
                                <p> <%= i.description %> </p>
                            </figcaption>
                        </figure>   
                    </div>
                <% end %>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
<% end %>

<% if @hits.nil? %>
    <h2>No Hits</h2>
<% else %>

    <div class="product">
        <div class="container">
            <div class="product-top">
                <div class="product-one">
                    <% @hits.each do |hit| %>
                    <div class="col-md-3 product-left">
                        <div class="product-main simpleCart_shelfItem">
                            <a href="product/<%= hit.id %>" class="mask">
                                <%= image_tag(hit.img, alt: "", class: "img_responsive zoom-img") %>
                            </a>
                        </div>
                        <%=  %>
                        <div class="product-bottom">
                            <h3><a href="product/<%= hit.id %>"><%= hit.title %></a></h3>
                            <p>Explore now</p>
                            <h4>
                                <!-- <%= link_to cart_items_path(id: hit.id), class: 'add-to-cart-link', data: { id: hit.id } do %> -->
                                <%= link_to 'cart_items', class: 'add-to-cart-link', data: { id: hit.id } do %>
                                    <i></i>
                                <% end %>
                                <span class="item_price">$ <%= hit.price %></span>
                                <% if hit.old_price %>
                                    <small><del>$ <%= hit.old_price %></del></small>
                                <% end %>

                            </h4>
                        </div>
                        <div class="srch">
                            <span> - 50 % </span>
                        </div>
                    </div>
                <% end %>
                </div>                
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
<% end %>
<!-- <input type="hidden" value="<%= !current_user.nil? ? 88 : 99 %>" id="cart_access"> -->