<div class="top-header">
    <div class="container">
        <div class="top-header-main">
            <div class="col-md-6 top-header-left">
                <div class="drop">
                    <div class="box">
                        <select tabindex="4" class="dropdown drop">
                            <option value="" class="label">Dollar :</option>
                            <option value="1">Dollar</option>
                            <option value="2">Euro</option>
                        </select>
                    </div>
                    <div class="box1">
                        <select tabindex="4" class="dropdown drop">
                            <option value="" class="label">English :</option>
                            <option value="1">English</option>
                            <option value="2">French</option>
                            <option value="3">German</option>

                        </select>
                    </div>
                    <div class="btn-group">
                        <a class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                        </ul>
                    </div>
                    <div class="clearfix">

                    </div>
                </div>
            </div>
            <div class="col-md-6 top-header-left">
                <div class="cart box_1">

                    <a href="/cart" onclick="getCart(); return false">
                        <div class="total">

                        </div>
                    </a>
                    <div class="clearfix">

                    </div>
                </div>
            </div>
            <div class="clearfix">

            </div>
        </div>
    </div>
</div>