<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <%# <li><a href="/"><%= render_breadcrumbs</a></li> %>
                <li class="active"><%= @product.title %></li>
            </ol>
        </div>
    </div>
</div>

<div class="single contact">
    <div class="container">
        <div class="single-main">
            <div class="col-md-9 single-main-left">
                <div class="single-top">
                    <div class="col-md-5 single-top-left">

                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="<%= asset_path 's-1.jpg' %>">
                                    <div class="thumb-image">
                                        <img src="<%= asset_path 's-1.jpg' %>" data-imagezoom="true" class="img-responsive" alt=""/>
                                    </div>
                                </li>
                                <li data-thumb="<%= asset_path 's-2.jpg' %>">
                                    <div class="thumb-image">
                                        <img src="<%= asset_path 's-2.jpg' %>" data-imagezoom="true" class="img-responsive" alt="">
                                    </div>
                                </li>
                                <li data-thumb="<%= asset_path 's-3.jpg' %>">
                                    <div class="thumb-image">
                                        <img src="<%= asset_path 's-3.jpg' %>" data-imagezoom="true" class="img-responsive" alt="">
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-7 single-top-right">
                        <div class="single-para simpleCart_shelfItem">
                            <H2><%= @product.title %></H2>
                            <div class="star-on">
                                <ul class="star-footer">
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                </ul>
                                <div class="review">
                                    <a href="#"> 1 customer review </a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <H5 class="item_price">$ <%= @product.price %></H5>
                            <% if @product.old_price %>
                                <del><%= @product.old_price %></del>
                            <% end %>
                            <p><%= @product.content %></p>
                            <div class="available">
                                <ul>
                                    <li> Color
                                        <select>
                                            <option>Silver</option>
                                            <option>Black</option>
                                            <option>Dark Black</option>
                                            <option>Red</option>
                                        </select>
                                    </li>
                                    <li class="size-in"> Size
                                        <select>
                                            <option>Large</option>
                                            <option>Medium</option>
                                            <option>Small</option>
                                        </select>
                                    </li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                            <ul class="tag-men">
                                <li>
                                    <span>Category</span>
                                    <strong>: 

                                    </strong>
                                </li>
                            </ul>
                            <div class="quantity">
                                <input type="number" size="4" value="1" name="quantity" min="1" step="1">

                            </div>
                            <%= 
                            # link_to "Add to Cart", 
                            # cart_items_path(:product_id => @product), 
                            # :method => :post
                                link_to 'ADD TO CART',
                                # cart_items_path,
                                remote: true,
                                data: {method: :post , id: @product.id},
                                class: "add-cart item_add add-to-cart-link",
                                id: "@productAdd";
                            %>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="tabs">
                    <ul class="menu_drop">
                        <li class="item1"><a href="#"><img src="<%= asset_path 'arrow.png' %>" alt="">Description</a>
                            <ul>
                                <li class="subitem1">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, autem obcaecati! 
                                        Illo quas nam quisquam soluta! In voluptatem ipsam itaque harum, animi, eum quam 
                                        ut alias voluptatibus impedit facere eveniet.
                                    </a>
                                </li>
                                <li class="subitem2">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, autem obcaecati! 
                                        Illo quas nam quisquam soluta! In voluptatem ipsam itaque harum, animi, eum quam 
                                        ut alias voluptatibus impedit facere eveniet.
                                    </a>
                                </li>
                                <li class="subitem3">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, autem obcaecati! 
                                        Illo quas nam quisquam soluta! In voluptatem ipsam itaque harum, animi, eum quam 
                                        ut alias voluptatibus impedit facere eveniet.
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="item2"><a href="#"><img src="<%= asset_path 'arrow.png' %>" alt="">Additional information</a>
                            <ul>
                                <li class="subitem2">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, autem obcaecati! 
                                        Illo quas nam quisquam soluta! In voluptatem ipsam itaque harum, animi, eum quam 
                                        ut alias voluptatibus impedit facere eveniet.
                                    </a>
                                </li>
                                <li class="subitem3">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, autem obcaecati! 
                                        Illo quas nam quisquam soluta! In voluptatem ipsam itaque harum, animi, eum quam 
                                        ut alias voluptatibus impedit facere eveniet.
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="item3"><a href="#"><img src="<%= asset_path 'arrow.png' %>" alt="">Reviews</a>
                            <ul>
                                <li class="subitem1">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, autem obcaecati! 
                                        Illo quas nam quisquam soluta! In voluptatem ipsam itaque harum, animi, eum quam 
                                        ut alias voluptatibus impedit facere eveniet.
                                    </a>
                                </li>
                                <li class="subitem2">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, autem obcaecati! 
                                        Illo quas nam quisquam soluta! In voluptatem ipsam itaque harum, animi, eum quam 
                                        ut alias voluptatibus impedit facere eveniet.
                                    </a>
                                </li>
                                <li class="subitem3">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, autem obcaecati! 
                                        Illo quas nam quisquam soluta! In voluptatem ipsam itaque harum, animi, eum quam 
                                        ut alias voluptatibus impedit facere eveniet.
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="item4"><a href="#"><img src="<%= asset_path 'arrow.png' %>" alt="">Helpfull Links</a>
                            <ul>
                                <li class="subitem2">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, autem obcaecati! 
                                        Illo quas nam quisquam soluta! In voluptatem ipsam itaque harum, animi, eum quam 
                                        ut alias voluptatibus impedit facere eveniet.
                                    </a>
                                </li>
                                <li class="subitem3">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, autem obcaecati! 
                                        Illo quas nam quisquam soluta! In voluptatem ipsam itaque harum, animi, eum quam 
                                        ut alias voluptatibus impedit facere eveniet.
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="item5"><a href="#"><img src="<%= asset_path 'arrow.png' %>" alt="">Make a Gifts</a>
                            <ul>
                                <li class="subitem1">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, autem obcaecati! 
                                        Illo quas nam quisquam soluta! In voluptatem ipsam itaque harum, animi, eum quam 
                                        ut alias voluptatibus impedit facere eveniet.
                                    </a>
                                </li>
                                <li class="subitem2">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, autem obcaecati! 
                                        Illo quas nam quisquam soluta! In voluptatem ipsam itaque harum, animi, eum quam 
                                        ut alias voluptatibus impedit facere eveniet.
                                    </a>
                                </li>
                                <li class="subitem3">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, autem obcaecati! 
                                        Illo quas nam quisquam soluta! In voluptatem ipsam itaque harum, animi, eum quam 
                                        ut alias voluptatibus impedit facere eveniet.
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <% unless @product.related.nil? %>

                    <div class="latestproducts">
                        <div class="product-one">
                            <H3>Related Products</H3>
                            <% @product.related.each do |related| %>
                                <div class="col-md-4 product-left p-left">
                                    <div class="product-main simpleCart_shelfItem">
                                        <a href="<%= related.id %>" class="mask">
                                            <img class="img-responsive zoom-img" src="<%= asset_path related.img %>" alt="">
                                        </a>
                                        <div class="product-bottom">
                                            <H3><a href="<%= related.id %>"><%= related.title %></a></H3>
                                            <p>Explore Now</p>
                                            <H4>
                                                <a class="item_add add-to-cart-link" href="cart/add?id=<%= related.id %>" data-id="<%= related.id %>"><i></i></a>
                                                <span class="item_price">$ <%= related.price %></span>
                                                <% if related.old_price %>
                                                    <del><%= related.old_price %></del>
                                                <% end %>
                                            </H4>
                                        </div>
                                        <div class="srch">
                                            <span>-50%</span>
                                        </div>
                                    </div>
                                </div>

                            <% end %>

                            <div class="clearfix"></div>
                        </div>
                    </div>

                <% end %>

                <% if recent_products.any? %>

                <div class="latestproducts">
                    <div class="product-one">
                        <H3>Recently Products</H3>

                        <% recent_products.each do |recently| %>

                            <div class="col-md-4 product-left p-left">
                                <div class="product-main simpleCart_shelfItem">
                                    <a href="<%= recently.id %>" class="mask">
                                        <img class="img-responsive zoom-img" src="<%= asset_path recently.img %>" alt="">
                                    </a>
                                    <div class="product-bottom">
                                        <H3><a href="<%= recently.id %>"><%= recently.title %></a></H3>
                                        <p>Explore Now</p>
                                        <H4>
                                            <a class="item_add add-to-cart-link" href="cart/add?id=<%= recently.id %>" data-id="<%= recently.id %>"><i></i></a>
                                            <span class="item_price">$ <%= recently.price %></span>
                                            <% if recently.old_price %>
                                                <del><%= recently.old_price %></del>
                                            <% end %>
                                        </H4>
                                    </div>
                                    <div class="srch">
                                        <span>-50%</span>
                                    </div>
                                </div>
                            </div>

                        <% end %>

                        <div class="clearfix"></div>
                    </div>
                </div>

                <% end %>

            </div>

            <div class="col-md-3 single-right">
                <div class="w_sidebar">
                    <section class="sky-form">
                        <H4>Categories</H4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>All Accessories</label>
                            </div>
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Women Watches</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Kids Watches</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Men Watches</label>
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <H4>Brand</H4>
                        <div class="row1 row2 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Kurtas</label>
                            </div>
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Sonata</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Titan</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Casio</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Omax</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Fastrack</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Sports</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Fossil</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Maxima</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Yepme</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Citizen</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Diesel</label>
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <H4>Colour</H4>
                        <ul class="w_nav2">
                            <li><a href="#" class="color1"></a></li>
                            <li><a href="#" class="color2"></a></li>
                            <li><a href="#" class="color3"></a></li>
                            <li><a href="#" class="color4"></a></li>
                            <li><a href="#" class="color5"></a></li>
                            <li><a href="#" class="color6"></a></li>
                            <li><a href="#" class="color7"></a></li>
                            <li><a href="#" class="color8"></a></li>
                            <li><a href="#" class="color9"></a></li>
                            <li><a href="#" class="color10"></a></li>
                            <li><a href="#" class="color11"></a></li>
                            <li><a href="#" class="color12"></a></li>
                            <li><a href="#" class="color13"></a></li>
                            <li><a href="#" class="color14"></a></li>
                            <li><a href="#" class="color15"></a></li>
                            <li><a href="#" class="color5"></a></li>
                            <li><a href="#" class="color6"></a></li>
                            <li><a href="#" class="color7"></a></li>
                            <li><a href="#" class="color8"></a></li>
                            <li><a href="#" class="color9"></a></li>
                            <li><a href="#" class="color10"></a></li>
                        </ul>
                    </section>

                    <section class="sky-form">
                        <H4>Discount</H4>
                        <div class="row1 row2 scroll-pane">
                            <div class="col col-4">
                                <label class="radio"><input type="radio" name="radio" checked=""><i></i>60 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>50 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>40 % and above</label>
                            </div>
                            <div class="col col-4">
                                <label class="radio"><input type="radio" name="radio"><i></i>30 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>20 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>10 % and above</label>
                            </div>
                        </div>
                    </section>
                    
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>