<% category.children.each do |sub| %>
    <% cache sub do %>
        <H4>
            <%= link_to sub.title, "/category/#{sub.id}" %>
        </H4>
        <ul>
            <li><%= render 'include/menu/menu', category: sub, cached: true %> <br></li>
        </ul>
    <% end %>
<% end %>